* {
  font-family: sans-serif;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  border: 5px solid black;
  line-height: 1.5;
  width: 825px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.sale {
  position: absolute;

  letter-spacing: 2px;
  font-weight: bold;
  font-size: 12px;

  background-color: rgb(255, 45, 45);
  color: white;
  padding: 7px 12px;

  left: -33px;
  top: -18px;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  background-color: #f7f7f7;
  padding: 15px;
}

h3 {
  font-size: 16px;
  text-transform: uppercase;
}

strong {
  font-size: 24px;
}

ul {
  list-style: square;
}

li {
  margin-bottom: 10px;
}

button {
  font-size: 20px;
  text-transform: uppercase;
  background-color: black;
  color: white;
  border: none;

  border-top: 4px solid black;
  width: 100%;
  padding: 15px;
}

button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.shipping {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #777;
  margin-bottom: 20px;
}

.more-info:link,
.more-info:visited {
  color: black;
  /* не сработает т.к. якоря по умолчанию не block-элементы.
  Для задания margin элемент должен быть display:block или inline-block */

  display: inline-block;
  margin-bottom: 30px;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.color {
  display: inline-block;
  background-color: #777;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.color:last-child {
  margin-right: 0;
}

.black {
  background-color: black;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.brown {
  background-color: brown;
}

.details-title {
  margin-bottom: 15px;
}

.details-list {
  margin-left: 20px;
}

/* FLOATS */

/* img {
  float: left;
  margin-right: 40px;
}

.product-info {
  float: left;
  width: 240px;
  margin-right: 40px;
  margin-top: 20px;
}

.product-details {
  float: left;
  width: 240px;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

.price {
  float: left;
}

.shipping {
  float: right;
  margin-top: 10px;
}

.description {
  clear: both;
} */

/* FLEXBOX */
.product {
  display: flex;
  gap: 40px;
}

img {
  flex: 1;
}

.product-info {
  flex: 1;
  margin-top: 20px;
}

.product-details {
  flex: 1;
  margin-top: 20px;
  align-self: flex-start;
}

.price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.shipping {
  margin-bottom: 0;
}

.color-container {
  display: flex;
  gap: 10px;
}

.color {
  margin-right: 0;
}
